---
http_interactions:
- request:
    method: get
    uri: https://api.resin.io/v4/application
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer RESIN_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contenttype:
      - application/json
      Etag:
      - W/"b99-Q2zYQTef2riEdd8ruZD4d5mlASk"
    body:
      encoding: ASCII-8BIT
      string: '{"d":[{"id":1032362,"user":{"__deferred":{"uri":"/resin/user(35133)"},"__id":35133},"depends_on__application":null,"actor":2718890,"app_name":"tickRpi3Staging","git_repository":"rcullen/tickrpi3staging","commit":"bb6746a8e135fc7b869daaeda3183321cb5d3a5e","application_type":{"__deferred":{"uri":"/resin/application_type(5)"},"__id":5},"device_type":"raspberrypi3","should_track_latest_release":true,"is_accessible_by_support_until__date":null,"__metadata":{"uri":"/resin/application(1032362)","type":""}},{"id":1032363,"user":{"__deferred":{"uri":"/resin/user(35133)"},"__id":35133},"depends_on__application":null,"actor":2718893,"app_name":"tickRpi1Staging","git_repository":"rcullen/tickrpi1staging","commit":"12fe382498b5fc7777fcc2d0b05ceb1f09c52122","application_type":{"__deferred":{"uri":"/resin/application_type(5)"},"__id":5},"device_type":"raspberry-pi","should_track_latest_release":true,"is_accessible_by_support_until__date":null,"__metadata":{"uri":"/resin/application(1032363)","type":"[...]
