---
http_interactions:
- request:
    method: get
    uri: https://api.resin.io/v4/device
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer RESIN_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contenttype:
      - application/json
      Etag:
      - W/"3bd7-HEwJkDMzg8d4/JgV+3xuy+NjtT8"
    body:
      encoding: ASCII-8BIT
      string: '{"d":[{"id":1131087,"belongs_to__application":{"__deferred":{"uri":"/resin/application(1032362)"},"__id":1032362},"belongs_to__user":{"__deferred":{"uri":"/resin/user(35133)"},"__id":35133},"is_managed_by__device":null,"actor":2882664,"should_be_running__release":null,"device_name":"sen-charlotte-serverroom","device_type":"raspberrypi3","uuid":"4c28d5cc7e45e9f325f4b6223103a698","is_on__commit":"12fe382498b5fc7777fcc2d0b05ceb1f09c52122","note":null,"local_id":null,"status":"Idle","is_online":true,"last_connectivity_event":"2018-06-14T08:40:51.076Z","is_connected_to_vpn":true,"last_vpn_event":"2018-06-14T08:40:51.076Z","ip_address":"10.70.0.24
        10.40.0.50","vpn_address":"10.240.41.230","public_address":"96.10.173.138","os_version":"Resin
        OS 2.12.7+rev1","os_variant":"dev","supervisor_version":"7.4.3","should_be_managed_by__supervisor_release":null,"is_managed_by__service_instance":{"__deferred":{"uri":"/resin/service_instance(182)"},"__id":182},"provisioning_progress":null,"provisioning_state":"","download_progress":null,"is_web_accessible":true,"longitude":"-80.8262","latitude":"35.2157","location":"Charlotte,
        North Carolina, United States","custom_longitude":"","custom_latitude":"","logs_channel":"8d8751c2186bca56f3afe0316553295ca3531c33b517ab9f6a8a8eaa344484","owns__device_log":{"__deferred":{"uri":"/resin/device_log(1131087)"},"__id":1131087},"is_locked_until__date":null,"is_accessible_by_support_until__date":null,"created_at":"2018-05-22T18:28:43.204Z","is_active":true,"__metadata":{"uri":"/resin/device(1131087)","type":""}},{"id":1126686,"belongs_to__application":{"__deferred":{"uri":"/resin/application(1032363)"},"__id":1032363},"belongs_to__user":{"__deferred":{"uri":"/resin/user(35133)"},"__id":35133},"is_managed_by__device":null,"actor":2872678,"should_be_running__release":null,"device_name":"riot-zerow","device_type":"raspberry-pi","uuid":"09c874a2b97370b26cf5526102f420f4","is_on__commit":"8fe2e6b5e86d4e4116f95f90f00514f084681323","note":"To
        be manage by Kevin at RIoT lab in HQ Raleigh\n","local_i[...]
