---
http_interactions:
- request:
    method: get
    uri: https://api.resin.io/v4/application(1032362)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer RESIN_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contenttype:
      - application/json
      Etag:
      - W/"1fa-lSOSqrqyy9ou6DsdaULbgth1TqA"
    body:
      encoding: UTF-8
      string: '{"d":[{"id":1032362,"user":{"__deferred":{"uri":"/resin/user(35133)"},"__id":35133},"depends_on__application":null,"actor":2718890,"app_name":"tickRpi3Staging","git_repository":"rcullen/tickrpi3staging","commit":"bb6746a8e135fc7b869daaeda3183321cb5d3a5e","application_type":{"__deferred":{"uri":"/resin/application_type(5)"},"__id":5},"device_type":"raspberrypi3","should_track_latest_release":true,"is_accessible_by_support_until__date":null,"__metadata":{"uri":"/resin/application(1032362)","type":""}}]}'
  recorded_at: Fri, 22 Jun 2018 08:32:50 GMT
recorded_with: VCR 4.0.0
